<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IoT Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">

    <script src="JS/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">IoT Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addBuilding.html">Add building<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addRoom.html">Add room<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addLight.html">Add light<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addRinger.html">Add ringer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addThermostat.html">Add thermostat<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--- Contenue -->
<div class="container col-md-10 app" style="margin-top: 10px;" id="app">
<!--    Error / success messages when deleting-->
    <div v-if="deleteMessage == 'problem'" class="alert alert-danger" role="alert">
        Error while deleting the data
    </div>
    <div v-if="deleteMessage == 'success'" id="deleteMessage" class="alert alert-success" role="alert">
        The data has been successfully deleted, you will be redirected to the page after 3 seconds
    </div>

<!--    Error / success messages when editing-->
    <div v-if="editMessage == 'problem'" class="alert alert-danger" role="alert">
        Error while editing the data
    </div>
    <div v-if="editMessage == 'success'" id="editMessage" class="alert alert-success" role="alert">
        The data has been successfully edited, you will be redirected to the page after 3 seconds
    </div>

<!--    Loading spinner-->
    <div hidden id="loading" class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <section v-if="errored">
        <div class="alert alert-danger" role="alert">
            We are sorry, we are not able to retrieve this information at this time. Please try again later.
        </div>
    </section>

    <section v-else>
        <div v-if="loading" class="spinner-border text-success">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else>

<!--            <a href="addRoom.html" class="btn btn-outline-dark float-right" style="margin-bottom:20px; margin-top:80px;">Add Room</a>-->
            <div id="buildingInfo">
                <h1 id="buildingName">{{building.name}}</h1>
            </div>

            <button type="button" class="btn btn-success float-right" v-on:click="editBuilding" id="editBuilding">Edit</button>
            <br><br>
            <button type="button" class="btn btn-danger float-right" v-on:click="deleteBuilding">Delete</button>
            <br><br>

            <table class="table table-bordered" style="width:100%; margin-top: 30px;">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center"><b>#</b></th>
                    <th class="text-center"><b>Room Name</b></th>
                    <th class="text-center"><b>Floor</b></th>
                    <th class="text-center"><b>Number Of Lights</b></th>
                    <th class="text-center"><b>Lights</b></th>
                    <th class="text-center"><b>Ringer</b></th>
                    <th class="text-center"><b>Thermostat</b></th>
                    <th class="text-center"><b>Edit Room</b></th>
                    <th class="text-center"><b>Delete Room</b></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="room in rooms" v-if="room.buildingId == buildingId">
                    <td class="text-center">{{room.id}}</td>
                    <td class="text-center" v-bind:id="'roomName'+room.id">{{room.name}}</td>
                    <td class="text-center" v-bind:id="'roomFloor'+room.id">{{room.floor}}</td>
                    <td class="text-center">{{room.lightsIds.length}}</td>
                    <td v-if="room.lightsIds.length > 0" class="text-center"><a v-bind:href="'lights.html?room='+room.id">Control lights</a></td>
                    <td v-else class="text-center" style="color:grey">Control lights</td>

                    <td v-if="room.ringerId != null" class="text-center"><a v-bind:href="'ringer.html?room='+room.id">Control ringer</a></td>
                    <td v-else class="text-center" style="color:grey">Control ringer</td>

                    <td v-if="room.thermostatId != null" class="text-center"><a v-bind:href="'thermostat.html?room='+room.id">Control thermostat</a></td>
                    <td v-else class="text-center" style="color:grey">Control thermostat</td>

                    <td class="text-center" style="color:grey"><button type="button" class="btn btn-success" v-bind:id="'edit'+room.id" v-on:click="editRoom(room.id)">Edit</button></td>
                    <td class="text-center" style="color:grey"><button type="button" class="btn btn-danger" v-on:click="deleteRoom(room.id)">Delete</button></td>
                 </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<script src="JS/building.js"></script>
</body>
</html>
