<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IoT Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">

    <script src="JS/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">IoT Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addBuilding.html">Add building<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addRoom.html">Add room<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addLight.html">Add light<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addRinger.html">Add ringer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="addThermostat.html">Add thermostat<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<!--- Contenue -->
<div class="container col-md-10 app" style="margin-top: 10px;" id="app">
    <!--    Error / success messages when deleting-->
    <div v-if="deleteMessage == 'problem'" class="alert alert-danger" role="alert">
        Error while deleting the data
    </div>
    <div v-if="deleteMessage == 'success'" id="deleteMessage" class="alert alert-success" role="alert">
        The data has been successfully deleted, you will be redirected to the page after 3 seconds
    </div>

    <!--    Loading spinner-->
    <div hidden id="loading" class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <section v-if="errored">
        <p>We are sorry, we are not able to retrieve this information at this time. Please try again later.</p>
    </section>

    <section v-else>
        <div v-if="loading" class="spinner-border text-success">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else>

<!--            <a href="addRoom.html" class="btn btn-outline-dark float-right" style="margin-bottom:20px; margin-top:80px;">Add Room</a>-->
            <h1>{{room.name}}</h1>
            <br>
            <table class="table table-bordered" style="width:30%; margin-top: 30px;">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center"><b>Auto Light Control: Sunrise - Sunset</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center" v-if="roomController.autoLightControlState === 'OFF'" @click="switchAutoLightControl(room.id)"><i :id="'auto'+room.id" class="fas fa-toggle-off fa-2x"></i></td>
                    <td class="text-center" v-else @click="switchAutoLightControl(room.id)"><i :id="'auto'+room.id" class="fas fa-toggle-on fa-2x"></i></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="width:100%; margin-top: 30px;">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center"><b>#</b></th>
                    <th class="text-center"><b>Light Status</b></th>
                    <th class="text-center"><b>Light Level</b></th>
                    <th class="text-center"><b>Light Color</b></th>
                    <th class="text-center"><b>Switch Light</b></th>
                    <th class="text-center"><b>Control With Arduino</b></th>
                    <th class="text-center"><b>Delete Light</b></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="light in lights" v-if="light.roomId == roomId">
                    <td class="text-center">{{light.id}}</td>
                    <td v-if="light.status === 'ON'" class="text-center"><i :id="'bulb'+light.id" class="fas fa-lightbulb fa-2x on"></i></td>
                    <td v-else class="text-center"><i :id="'bulb'+light.id" class="fas fa-lightbulb fa-2x off"></i></td>
                    <td class="text-center">
                        <input type="number" min="1" max="254" v-bind:value="light.level" class="form-control mb-4" v-bind:id="'lightLevel'+light.id">
                        <button type="button" class="btn btn-success" v-on:click="changeLightLevel(light.id)">Change light level</button>
                    </td>
                    <td class="text-center">
                        <input type="range" min="0" max="65535" v-bind:value="light.color" class="form-control mb-4" v-bind:id="'lightColor'+light.id">
                        <button type="button" class="btn btn-success" v-on:click="changeLightColor(light.id)">Change light color</button>
                    </td>
                    <td class="text-center" :id="'switchl'+light.id" v-if="light.status === 'ON'" @click="switchLight(light.id)"><i class="fas fa-toggle-on fa-2x"></i></td>
                    <td class="text-center" :id="'switchl'+light.id" @click="switchLight(light.id)" v-else><i class="fas fa-toggle-off fa-2x"></i></td>
                    <td class="text-center" style="color:grey"><button type="button" class="btn btn-primary" v-on:click="controlWithArduino(light.id)">Control Light</button></td>
                    <td class="text-center" style="color:grey"><button type="button" class="btn btn-danger" v-on:click="deleteLight(light.id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<script src="JS/lights.js"></script>
</body>
</html>
